.projects .header,
.projects .buttons {
    display: flex;
    align-content: center;
    justify-content: center;
}

.projects .buttons {
    margin-top: 2%;
}

.projects .buttons button {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.playground .buttons .preview .header {
    margin-left: 0.5%;
    font-size: 20px;
}

.playground .buttons .preview button {
    margin: 0% 0.5%;
}