.projects .buttons {
    margin-top: 2%;
    margin-bottom: 2%;
}

.projects .buttons button {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.project .header {
    font-size: 42px;
}

.project .info {
    padding-top: 5%;
}

.project .info .label {
    font-size: 18px;
}

.playground {
    margin-left: 1%;
}

.playground .buttons .preview button {
    margin: 0% 0.5%;
}

.playground .label {
    margin-left: 0.5%;
    font-size: 20px;
    padding-top: 2.5%;
}